<nav>
  <a routerLink="/books" routerLinkActive="active">📚 All Books</a>
  <a *ngIf="isLoggedIn" routerLink="/add-book" routerLinkActive="active">➕ Add a Book</a>
  <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">🔐 Login</a>
  <a *ngIf="!isLoggedIn" routerLink="/register" routerLinkActive="active">📝 Register</a>
  <a *ngIf="isLoggedIn" (click)="logout()" style="cursor: pointer;">📕 Log out</a>
</nav>

<router-outlet></router-outlet>

<footer>
  <p>&copy; 2025 BookTracker by <a href="https://ivargavelin.com/"> Ivar Gavelin</a></p> 
</footer>

