<div class="book-list">
  <h2>List of Books</h2>
  <div *ngFor="let book of books" class="book-item">
    <img 
      [src]="isValidImageUrl(book.imageUrl) ? book.imageUrl : 'https://image.bokus.com/images/9789150121285_383x_lasa-bok'"
      alt="Book Cover" 
      width="100"
    />
    <h3>{{ book.title }}</h3>
    <p>Author: {{ book.author }}</p>
    <p>Published Date: {{ book.publishedDate | date }}</p>
    
    <button *ngIf="auth.isLoggedIn" class="btn btn-danger" (click)="deleteBook(book.id)">Remove</button>
  </div>
</div>
